<div class="container jumbotron">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Apple Versus Samsung</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">A sales comparison demo made in 8 hours.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img class="frontpage-photo" src=<%= asset_path('apple_iphone.png') %> />
    </div>
    <div class="col-md-4 text-center">
      <br />
      <a class="btn btn-primary btn-lg" href="/charts">Charts</a>
      <br /><hr /><br />
      <a class="btn btn-primary btn-lg" href="/phones">Specs</a>
    </div>
    <div class="col-md-4">
      <img class="frontpage-photo" src=<%= asset_path('samsung_galaxy.png') %> />
    </div>
  </div>
</div>
